body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F3F6;
  margin: 0;
}

.nav {
  background-color: whitesmoke;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  width: 100%;
}

.logo {
  flex-grow: 1;
}

li button {
  background-color: whitesmoke;
  border: none;
  outline: none;
}

li a {
  color: black;
  padding: 1rem;
}

li a:link {
  text-decoration: none;
  color: black;
}

li a:hover {
  background-color: rgb(4, 170, 109);
  color: white;

}

.active {
  background-color: rgb(4, 170, 109);
  color: white;
}

.photo {
  height: 30rem;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.photo img {
  height: 30rem;
  width: 100%;
}


.transbox {
  position: absolute;
  bottom: 2rem;
  padding-left: 7rem;
}

.mid {
  margin-top: 10rem;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: #F1F3F6;
/* border: solid black; */
}

.bottom {
  margin-top: 10rem;
  height: auto;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(4, 170, 109);
  /* border: solid tomato; */
}

.about {
  margin-top: 10rem;
  height: auto;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(51, 71, 91);
  color: #D1D3D5;

}

.service_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F1F3F6;
  margin-top: 2rem;

}

.about_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(51, 71, 91);
  margin-top: 2rem;

}

.about_one {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  /* background-color: white; */
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;
  margin-bottom: 2rem;
}

.about_two {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  /* background-color: white; */
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;
  margin-bottom: 2rem;

}

.about_three {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  /* background-color: white; */
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;
  margin-bottom: 2rem;

}

.one {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  background-color: white;
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;

}

.two {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  background-color: white;
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;

}

.three {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  background-color: white;
  width: 20rem;
  box-shadow: 1px 1px 5px #D1D3D5;

}

.process_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;

}

.p_img {
  width: 100%;
  height: 10rem;

}

.temp {
  position: relative;
}

.temp1 {
  position: relative;
}

.temp2 {
  position: relative;
}

.p_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  width: 20rem;
  background-color: white;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.p_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  width: 20rem;
  background-color: white;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.p_three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  height: auto;
  width: 20rem;
  background-color: white;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.transbox1 {
  position: absolute;
  bottom: 0px;
  opacity: 0.6;
  background-color: rgb(245, 245, 245);
  width: 100%;
}
.slideshow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.next {
  display: flex;
  box-shadow: 1px 1px 5px #D1D3D5;
  font-size: 48px;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  width: 2rem;
  padding: 1rem;
  border: none;
  background-color: #F1F3F6;
  cursor: pointer;
}

.left {
  display: flex;
  box-shadow: 1px 1px 5px #D1D3D5;
  font-size: 48px;
  flex-direction: row;
  align-items: center;
  height: 6rem;
  width: 2rem;
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.slide_img{
  margin-top: 10rem;
}

/* Slideshow container */
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.left, .right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}
